body {
    color: #000000;
    font-family: 'Inter';
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

/* Rahul */
.header {
    background-color: #396051;
    color: #fff;
    min-height: 730px;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 70px;
    margin-right: 70px;
    color: #BDDD99;
}

.header p {
    margin-left: 70px;
    margin-right: 70px;
}

.header img {
    width: 400px;
    height: 600px;
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 60px;
}


.header .container {
    display: flex;
    align-items: center;
}

.search {
    width: 70%;
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
}

.searchTerm {
    width: 100%;
    border: 2px solid;
    padding: 15px;
    height: 50px;
    border-radius: 40px 0px 0px 40px;
    color: #FF8372;

}

.searchButton {
    height: 50px;
    border: 1px solid #FF8372;
    background: #FF8372;
    text-align: center;
    border-left: 20px solid #FF8372;
    border-right: 20px solid #FF8372;
    border-radius: 0px 40px 40px 0px;
    color: #fff;
    font-size: 20px;
}

.produk {
    min-height: 700px;
}

.produk h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}


.produk .kategori {
    display: flex;
    justify-content: space-around;
}

.produk .container h2 {
    margin: 0;
}

.item {
    background: #FF8372;
    font-weight: bold;
    color: #fff;
    padding: 25px;
    border-radius: 18px;
}

/* Yahya */
img {
    height: auto;
    max-width: 100%;
}

.title {
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 50px;
}

.second-title {
    font-style: normal;
    text-align: justify;
    font-weight: 600;
    font-size: 56px;
    margin-bottom: 30px;
}

.third-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.fourth-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.post-author {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #ACACAC;
    margin-bottom: 15px;
}

.post-author span {
    margin-right: 50px;
}

.img-article {
    margin-bottom: 20px;
}

.img-mitra {
    border-radius: 10px;
    width: 464px;
    height: 379px;
}

p {
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.contents-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.item-list {
    margin: 0px;
}

.item-end {
    margin-bottom: 16px;
}

.list-about_us {
    padding-left: 0px;
    margin-left: 18px;
}

.flex-horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.team img {
    padding-bottom: 20px;
}

.flex-vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 50px;
}

.grid-horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.desc-mitra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.desc-mitra img {
    height: 303px;
    width: 370px;
    margin-right: 50px;
}

.container .hr-artikel {
    border-top: 4px solid #000000;
    border-radius: 5px;
    opacity: 1;
}

.container hr {
    border-radius: 5px;
    opacity: 1;
}

.grid-horizontal-artikel {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    margin-bottom: 50px;
}

.flex-vertical-articel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.flex-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    color: #ACACAC;
}

.date {
    font-size: 20px;
    margin-right: 50px;
}

.penulis {
    font-size: 20px;
}

.desc-gambar img {
    width: 300px;
    height: 270px;
    border-radius: 20px;
}


/* add product */

.container .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .content .kiri {
    border: 2px solid black;
    width: 90%;
    height: 100%;
    position: relative;
    margin: 50px auto 0px auto;
    padding: 30px 20px;
    border-radius: 25px;
    padding: 20px 30 0 20px;
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    margin: 0 20px 0 15px !important;
}

.container .content .kiri label {
    display: block;
    position: relative;
    background-color: #FF8372;
    text-align: center;
    width: 80%;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
}

.container .content .kiri p {
    text-align: center;
    margin: 20px 0 30px 0;
}

#images {
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

#images1 {
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

figure {
    width: 45%;
}

.container .content .kiri img {
    width: 100%;
}

.container .content .kanan {
    border: 2px solid black;
    width: 90%;
    height: 100%;
    position: relative;
    margin: 10px auto 0px auto;
    padding: 30px 20px;
    border-radius: 25px;
    padding: 20px 30 0 20px;
    display: flex;
    flex-direction: column;
}

.container .content .kanan label {
    margin-left: 20px;
    font-weight: 600;
    font-size: 22px;
}

.container .content input {
    width: 92%;
    height: 50px;
    margin: 7px 20px 15px 20px;
    padding: 10px;
    border-radius: 9px;
}

.container .content select {
    width: 92%;
    height: 50px;
    margin: 7px 20px 15px 20px;
    padding: 10px;
    border-radius: 10px;
}

.container .content textarea {
    width: 92%;
    height: auto;
    margin: 7px 20px 15px 20px !important;
    padding: 10px;
    border-radius: 10px;
}

.buttonProd {
    width: 27%;
    height: 50px;
    border-radius: 10px;
    background-color: #FF8372;
    border: 1px solid #FF8372;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    float: right;
    display: block;
    margin-top: 20px;
    margin-right: 55.800px;
    margin-bottom: 100px;
}


.category .kategori {
    font-size: 16px;
}

.btn-edit {
    width: 100px;
}

.btn-delete {
    width: 100px;
}

th {
    text-align: center;
}

/* authentication */

.auth-title {
    text-align: center;
    margin-bottom: 20px;
}

.flex-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.label-auth {
    text-align: left;
}

.btn-auth {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #FF8372;
    border: 1px solid #FF8372;
    color: #fff;
}

.btn-link-auth {
    padding: 6px 0px 6px 0px !important;
}

.reg-auth {
    font-weight: 500;
    font-size: 1rem;
    color: #ACACAC;
}

.reg-auth a {
    color: #FF8372 !important;
}


/* Admin data */

.img-admin-data {
    height: auto;
    width: 100%;
    max-width: 100px;
    border-radius: calc(0.375rem - 1px);
}

.btn-success {
    background-color: #396051 !important;
}

.btn-info {
    background-color: #FF8372 !important;
    border-color: #FF8372 !important;
}

.label-edit {
    display: block;
    position: relative;
    background-color: #FF8372;
    text-align: center;
    width: 80%;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
}


.pagination a:hover:not(.active) {
    background-color: #BDDD99;
}

.pagination span {
    border-color: #396051 !important;
    color: #396051 !important;
    border-radius: 5px !important;
    margin: 0 2px !important;
    padding: 8px 16px !important;
    transition: background-color .3s !important;
}

.pagination a {
    border-color: #396051 !important;
    color: #396051 !important;
    border-radius: 5px !important;
    margin: 0 2px !important;
    padding: 8px 16px !important;
    transition: background-color .3s !important;
}

.page-item.active .page-link {
    background-color: #396051 !important;
    border-color: #396051 !important;
    color: #fff !important;
}

.grid-horizontal-mitra {
    display: grid;
    grid-template-columns: 550px 1fr;
    gap: 40px;
    margin-bottom: 50px;
}

.btn-dashboard {
    color: #fff !important;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}

/*product list*/

.prod-cat li a {
    border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
    color: #3b3b3b;
}

.prod-cat li ul {
    margin-left: 30px;
}

.prod-cat li ul li a {
    border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
    background: none;
    color: #ff7261;
}

.pro-lab {
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list {
    margin: 5px 0 0 0;
}

.product-list img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}

.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i {
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}

.pro-title {
    color: #5A5A5A;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color: #fc5959;
    font-size: 15px;
}

.pro-img-details {
    margin-left: -15px;
}

.pro-img-details img {
    width: 100%;
}

.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta span {
    display: block;
    margin-bottom: 3px;
}

.product_meta a,
.pro-price {
    color: #fc5959;
}

.pro-price,
.amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.quantity {
    width: 120px;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

footer .text-16 {
    font-size: 16px;
    text-align: start;
}

footer .text-22 {
    font-size: 22px;
}

footer .text-28 {
    font-size: 28px;
}

.modal-delete .modal-header {
    background-color: red;
}

.modal-delete .modal-header .heading {
    color: #fff;
}

.fa-trash {
    color: red;
}

.small-img-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 25%;
    cursor: pointer;
}

.products-details {
    position: sticky;
}

.product-desc {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.product-price {
    color: #ff7261;
}

.img-back-form {
    height: 34px;
    width: 34px;
    margin-top: 0.4rem;
    vertical-align: bottom !important;
}

.img-back {
    height: 31px;
    width: 31px;
}

.btn-admin-ab-us {
    background-color: #ff7261 !important;
    color: #eff2f7 !important;
}

.inpt-sort {
    font-size: large;
    font-weight: 600;
    margin-left: 3px;
}

.btn-sort {
    width: 7%;
    height: 35px;
    border-radius: 10px;
    background-color: #FF8372;
    border: 1px solid #FF8372;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    float: left;
    display: block;
    margin-top: 5px;
    margin-right: 55.800px;
    margin-bottom: 30px;
}

.details-desa-section {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
