.store-breadcrumbs {
  .breadcrumb {
    background: transparent;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    .breadcrumb-item + .breadcrumb-item::before {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    .breadcrumb-item.active {
      font-weight: 500;
      color: #000;
    }

    a {
      color: #979797;
    }
  }
}
